@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Lora", serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  height: 100vh;

  background-color: #ffffff;
  background-image: url("/textured-paper.png");
}

nav {
  font-size: 1.5rem;
  white-space: nowrap;
  user-select: none;
}

.nav-link {
  margin-inline: 0.5em;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link-active {
  font-weight: bold;
}

.nav-link-active:hover {
  text-decoration: none;
}

main {
  border: 1px solid black;
  width: 45vw;
  height: 30vw;

  min-width: 20em;
  min-height: 15em;

  background-color: #ffffff75;
}
